<p>
    Subscribe to my blog with <a href="/index.xml">RSS</a>
</p>
<p>
    <a href="mailto:stein-otto@svorstol.com">E-mail</a> |
    <a href="https://keys.openpgp.org/search?q=stein-otto@svorstol.com">PGP keys</a> |
    <a href="https://signal.me/#eu/8jkY-h2nWyKIvEn68D1SBm17ZNUgxwCmnYZvybn7zwrt85BHfulAgJ3Okq-lnSOB">Signal</a>
    <br>
    <a href="https://www.linkedin.com/in/essoen/">Linkedin</a> | 
    <a href="https://github.com/essoen">Github</a> | 
    <a href="https://www.goodreads.com/essoen">Goodreads</a> |
    <a href="https://app.thestorygraph.com/profile/essoen">StoryGraph</a> | 
    <a href="https://www.last.fm/user/Essoen">Last.fm</a>
</p>
<br>
Copyright © Stein-Otto Svorstøl · {{ now.Year }}
