Subscribe to my blog by <a href="/index.xml">RSS</a>
<br>
<a href="https://www.linkedin.com/in/essoen/">Linkedin</a> | 
<a href="https://x.com/EssoNet">X</a> | 
<a href="https://www.goodreads.com/essoen">Goodreads</a> |
<a href="https://app.thestorygraph.com/profile/essoen">StoryGraph</a> | 
<a href="https://www.last.fm/user/Essoen">Last.fm</a> | 
<a href="https://github.com/essoen">Github</a> | 
<a href="mailto:steinotto@svorstol.com">E-mail</a>
<br>
Copyright © Stein-Otto Svorstøl · {{ now.Year }}
